.wrap-border {
    border-radius: 30px 30px 0 0;
}
.bk-grnd {
    background-color: #055805;// #057705
}
.banner {
    width: 80%;
    margin: auto;
}

img {
    display:inline-block;
}
.corn-img {
    width:20%;
}
.banner-img {
    width:60%;
}