<ng-container *ngIf="{ category: categories.Full } as c">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" (click)="c.category = categories.Full">Full</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="c.category = categories.Heads">Heads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="c.category = categories.Hair">Hair</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="c.category = categories.Torsos">Torsos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="c.category = categories.Arms">Arms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="c.category = categories.Legs">Legs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="c.category = categories.Feet">Feet</a>
        </li>
    </ul>

    <app-category [category]="c.category"></app-category>
  </ng-container>