/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    min-height:100vh;
  }
  body {
    background-image: url('assets/general/sunbirst.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }